<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista kurników</title>

    <th:block th:include="partials/scripts_css" />
</head>

<body>

<div class="container">

    <th:block th:include="partials/navbar" />

    <h1 th:utext="${greeting}"></h1>
    <br>

    <div th:if="${houses.size()!=0}">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Pole powierzchni</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="h : ${houses}">
                    <th scope="row">
                        <a th:href="@{'/home/' + ${h.getId()}}" th:text="${h.getName()}"></a>
                    </th>
                    <th scope="row" th:text="${h.getAreaOfHouse()}"></th>
                </tr>
                </tbody>
            </table>

    </div>

    <div th:if="${houses.size()==0}">
        <h5>
            Nie posiadasz jeszcze żadnych kurników w bazie. Aby dodać przejdź do tej
            <a th:href="@{/new_house}" th:text="strony"></a>
        </h5>
    </div>
</div>

</body>
</html>