<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista kurników</title>

    <th:block th:include="partials/scripts_css" />
</head>

<body>

<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#" th:href="home" methods="GET">Lista kurników</a>
                <a class="nav-item nav-link" href="#" th:href="new_house" methods="GET">Dodanie nowego kurnika</a>
            </div>
        </div>
        <div>
            <a href="#" th:href="@{/logout}" methods="GET">Wyloguj</a>
        </div>
    </nav>

    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="margin:auto">
            <form autocomplete="off" action="#" th:action="@{/new_house}"
                  th:object="${chickenHouseDto}" method="post" class="form-horizontal"
                  role="form">
                <h2>Dodawanie nowego kurnika</h2>

                <input type="text" th:field="*{name}" placeholder="Nazwa"
                       class="form-control" />
                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                       class="validation-message"></label>
                <br>

                <input type="number" th:field="*{areaOfHouse}" placeholder="Pole powierzchni"
                       class="form-control" min="0"/>
                <label
                        th:if="${#fields.hasErrors('areaOfHouse')}" th:errors="*{areaOfHouse}"
                        class="validation-message"></label>

                <button type="submit" class="btn btn-primary btn-block">Dodaj</button>
            </form>
        </div>
    </div>

</div>

</body>
</html>